<!-- # Flow: urls.py -> views.py -> templates -->
<!-- This is the log in page for the users app -->
 <!-- Content of the page -->
{% extends 'posts/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="main-container">
        <div class="topbar">
            <h1 class="title">Log In to Whipping It!</h1>
        </div>

        <form method="post">
            {% csrf_token%}
            {{form|crispy}}
            <button class="btn btn-primary" type="submit">Login</button>
        </form>

        

        


    </div>

{% endblock %}