<!-- # Flow: urls.py -> views.py -> templates -->
<!-- This is the recipe posts page for the posts app -->
<!-- Content of the page -->
{% extends 'posts/base.html' %}

{% block content %}

    <div class="main-container">
        <div class="topbar">
            <h1 class="title">Recipe Posts of User</h1>
            <a class="btn btn-primary" href="{%url 'create'%}">Create Recipe Post</a>
        </div>

        <div>
            Space for our recipe posts to be displayed... 
        </div>

    </div>

{% endblock %}